body {
    font-family: arial sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    color: white;
}
.contenido_vecy {
    display: grid;
    grid-template-columns: 20% 80%;
}
.menu_vecy {
    background-color: #55AD9B;
    grid-column: 1;
    color: white;
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    transition: background-color 0.2s ease-in-out; /* transición suave */
}
li:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
#img_vecy {
    width: 50%;
    height: auto;
    border-radius: 50%;
    grid-row: 1;
}
footer { 
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    background-color: #55AD9B;
    flex-direction: column;
    margin: 0;
}
i {
    margin-right: 10px;
    color: white;
}
hr {
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
}
h6 {
    font-size: 12px;
    position: relative;
    left: -30%;
    margin: 15px;
    color: #D8EFD3;
}
i {
    cursor: pointer;
}
.dropdown-menu {
    background: linear-gradient(to bottom, #55AD9B, #D8EFD3);
    color: black;
    border: none;
    text-align: center;
}
.contenidoPrincipal {
    grid-column: 2;
    display: flex;
    justify-content: center;
    height: 90vh;
    padding: 10px;
    width: 100%;
    background: linear-gradient(to bottom,#D8EFD3, #D8EFD3, #95D2B3, #55AD9B);
}

.container-fluid {
    max-width: 80%;
}
.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 8px;
    padding: 3px;
}
.novedades {
    width: 70%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 15%;
    background-color: #55AD9B;
    color: white;
    font-weight: 900;
    margin-bottom: 50px;
}
.row {
    display: flex;
    justify-content: center;
    position: relative;
    left: 6%;
    top: -2%;
}
.card{
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #55AD9B;
}
.cardimg {
    position: relative;
    left: 25%;
}
h3 {
    font-weight: bold;
}
.card-header {
    background-color: white;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #55AD9B, #95D2B3);
    color: white;

}
.card-footer{
    padding: 0;
    margin-top: 20px;
    background-color: white;
}
.card:hover{
    transform: scale(0.98);
}
.botonCard {
    background-color: #55AD9B;
    color: white;
    padding: 10px;
    border-radius: 50px;
}
h2{
    font-weight: bold;
}
.pieVecy{
    position: relative;
    left: 5%;
}
.iconos_redes {
    position: relative;
    left: 15%;
}
