  /* Cambiar el fondo del modal */
  #registroPop .modal-content {
    background-color: #55AD9B; /* Cambia el color a tu preferencia */
    color: #fff8f8; /* Color del texto dentro del modal */
  }

  /* Estilizar el botón */
  #registroPop .btn-primary {
    background-color: #95D2B3; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Quitar el borde */
  }

  /* Cambiar el color del botón al pasar el mouse */
  #registroPop .btn-primary:hover {
    background-color: #F1F8E8; /* Color al hacer hover */
    color: #000000; /* Color del texto al hacer hover */
  }
/*/*   *********************************************************/
    /* Fondo del modal */
    #rolPop .modal-content {
        background-color: #55AD9B; /* Fondo claro personalizado */
        color: #333; /* Color del texto */
      }
    
      /* Estilo para los textos principales */
      #rolPop .modal-body .fs-4 {
        color: #ffffff; /* Azul personalizado */
        font-weight: bold; /* Texto en negrita */
      }
    
      /* Estilo para los enlaces */
      #rolPop a {
        text-decoration: none; /* Quitar subrayado */
        color: #ffffff; /* Color inicial */
      }
    
      /* Estilo para los textos debajo de las imágenes */
      #rolPop a p {
        color: #ffffff; /* Gris personalizado */
        font-size: 1rem; /* Tamaño de texto */
      }
    
      /* Estilo para las imágenes */
      #rolPop a img {
        transition: transform 0.3s ease; /* Suavizar animaciones */
      }
    
      /* Hover en los enlaces */
      #rolPop a:hover img {
        transform: scale(1.1); /* Agrandar imagen al pasar el mouse */
      }
    
      #rolPop a:hover p {
        color: #96e99d; /* Cambiar color del texto al pasar el mouse */
      }
     